.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
}

.header .logo {
    width: 14rem;
    cursor: pointer;
}

.header_nav_container {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
}

.header_user_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px) {
    .header_nav_container {
        flex-direction: column;
        gap: 1.2rem;
        width: 100%;
        align-items: center;
        margin-top: 2rem;
    }

    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}