.mainpage_container {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.mainpage_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.header_logo {
    
}

.logo {
    width: 14rem;
}

.header_nav_container {
    display: flex;
    gap: 2.4rem;
}

.nav_item {
    cursor: pointer;
}

.item_text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    transition: color 0.3s;
    font-family: 'Cafe24surround';
}

.item_text:hover {
    color: #f38b66;
    cursor: pointer;
}

.mainpage_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.body_title {
    padding: 2.2rem;
    margin-bottom: 1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    color: #222;
    font-family: 'Cafe24surround';
}

.product_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 0.1rem));
    gap: 3rem;
    justify-content: center;
}

.product_card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
    border-radius: 1.6rem;
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.06);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 26rem;
}

.product_card:hover {
    transform: translateY(-0.6rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.card_img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
}

.card_text {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
}

.mainpage_footer {
    text-align: center;
    padding: 2rem 0;
    margin-top: 18rem;
    border-top: 1px solid #eee;
}

.copy_text {
    font-size: 1.2rem;
    color: #999;
}