.my {
    flex: 1;
    max-width: 96rem;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.my .title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.my .title_text {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: 'Cafe24surround';
    color: #222;
}

.my .subtitle_text {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #333;
}

.my .saved_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100rem;
    gap: 1.5rem;
}